/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Poppins Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Poppins Bold */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Poppins Bold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Poppins ExtraBold */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Poppins ExtraBold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Poppins Light */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Poppins Light Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Poppins Thin */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Poppins Thin Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Poppins Medium */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Poppins Medium Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Poppins SemiBold */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Poppins SemiBold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Poppins Black */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Poppins Black Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Verification Block */
.verification {
    text-align: center;
    margin-bottom: 40px;
}

.verification__text {
    color: #333;
    font-size: 16px;
    margin-bottom: 8px;
}

.verification__email {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 40px;
}

.verification__dots {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 30px 0;
}

.verification__dot {
    width: 40px;
    height: 40px;
    background-color: #E5E5E5;
    border-radius: 17%;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    color: var(--bg-dark);
}

.verification__dot--filled {
    background-color: #333;
}

.verification__resend {
    color: #333;
    font-size: 14px;
}

.verification__link {
    color: var(--primary-color);
    text-decoration: none;
}

/* Keypad Block */
.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 0 74px;
    margin-top: auto;
}

.keypad__key {
    background: none;
    border: none;
    font-size: 25px;
    color: #333;
    padding: 0px;
    cursor: pointer;
    border-radius: 19%;
    aspect-ratio: 1;
    transition: background-color 0.2s ease;
    width: 47px;
    height: 37px;
}

.keypad__key:hover {
    background-color: #f5f5f5;
}

.keypad__key--back {
    font-size: 20px;
}

.keypad__key--confirm {
    background-color: #30c7d6;
    color: white;
}

.keypad__key--confirm:hover {
    background-color: #25b7c5;
}

/* Footer Block */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
}

.footer__text {
    color: #333;
    font-size: 14px;
}

.footer__logo {
    height: 20px;
}

.login__powered-by {
    font-size: 0.85rem;
    color: #49bb6c;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.container__logo-wrapper {
    text-align: center;
    margin: 20px 0 40px;
}
.password__back {
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.login__footer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    bottom: 0;
}